<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app" style="margin:100px;">
    <g-popover>
      <template slot="content">
        This is content
      </template>
      <button>Click</button>
    </g-popover>
    <div style="height:200px;border:1px solid red">

    </div>
  </div>
  <script src="./app.js"></script>
</body>
</html>